<ion-view view-title="Playlist">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
    <div class="list">
      <a ng-repeat="item in items"
         data-uri="#"
         href="javascript:void(0);"
         class="item item-thumbnail-left">

        <img ng-src="http://trancefusionapp.azurewebsites.net/{{ item.thumbnail }}">
        <h2>{{ item.name }}</h2>
        <h4>{{ item.full ? 'Room full' : 'Available' }}</h4>
        <span class="badge badge-assertive">{{ item.count }}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
